.carousel-wrapper {
    overflow: hidden;
    width: 90%;
    box-sizing: border-box;
    position: relative;
}
.carousel {
    display: flex; 
    transition: transform 0.5s ease;
}
.carousel__photo {
    opacity: 0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}
.carousel__photo.initial,
.carousel__photo.active {
    opacity: 1;
    z-index: 900;
    transform: translateX(0);
    position: relative; 
}

.carousel__photo.prev {
    transform: translateX(-100%);
}

.carousel__photo.next {
    transform: translateX(100%);
}

.carousel__button--prev,
.carousel__button--next {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #FFF;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    border: 1px solid black;
}

.carousel__button--prev {
    left: 0;
}

.carousel__button--next {
    right: 0;
}

.carousel__button--prev::after,
.carousel__button--next::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.carousel__button--next::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
